<h1>Detalhes do Pedido</h1>
<h2>Pedido <%= @order.code %></h2>
<dl>
  <dt>Galpão Destino:</dt>
  <dd><%= @order.warehouse.full_description %></dd>
  <dt>Fornecedor:</dt>
  <dd><%= @order.supplier.corporate_name %></dd>
  <dt>Usuário Responsável:</dt>
  <dd><%= @order.user.description %></dd>
  <dt>Data Prevista de Entrega:</dt>
  <dd><%= I18n.localize @order.estimated_delivery_date %></dd>
  <dt><%= Order.human_attribute_name(:status) %>:</dt>
  <dd><%= t(@order.status) %></dd>
</dl>

<%= button_to 'Marcar como ENTREGUE', delivered_order_path(@order) %>
<%= button_to 'Marcar como CANCELADO', canceled_order_path(@order) %>

<%= link_to 'Editar', edit_order_path(@order) %>
