<h2>Fornecedor: <%= @supplier.brand_name %></h2>
<%= @supplier.corporate_name %>

<div>
  <strong>CNPJ: </strong> <%= @supplier.registration_number %><br>
  <strong>Endereço: </strong><%= @supplier.full_address %><br>
  <strong>Cidade: </strong><%= @supplier.city %> - <%= @supplier.state %><br>
  <strong>Email: </strong><%= @supplier.email %>
</div>

<%= link_to "Voltar", suppliers_path %>
<%= link_to "Editar", edit_supplier_path(@supplier) %>



